.site-footer {
    padding-top: 30px;
    
    .container {
        position: relative;
        z-index: 2;

        .site-footer-title {
            color: var(--secondary-color);
        }

        p span {
            font-weight: var(--font-weight-medium);
            margin-right: auto;
        }

        svg {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            pointer-events: none;
        }
    }
}